
header {
    position: absolute;
    top: 0;
    width: 100%;
}

aside {
    position: absolute;
    right: 0;
    margin-top: 85px;
    width: 6.7%;
    /* width: calc(main width(10%) - aside width(20%)); */
    /* border-bottom-width: 1%; */
    height:calc(100%-87px);
}

main {
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right:80px;
    width: 80%
}

footer {
    position: absolute;
    bottom:0;
    width: 100%;
}